@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

/*Navbar*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--bg-color);
}

.logo{
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.navbar a{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    letter-spacing: 2px;
}


.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
}



.menu-btn, #active{
    display: none;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

/*Content hero*/
.grid {
	padding: 5px;
	max-width: 85%;
	width: 95%;
	margin: 7% auto;
}


.columns {
	display: flex;
 	flex-flow: row wrap;
	justify-content: center;
    grid-template-columns: 200px 80px;
}

.column {
	flex: 1;
	margin: 20px;
	padding: 10px;
}

.column:first-child { margin-left: 0;}
.column:last-ch#00abf0mainild { margin-left: 0; }

.home-content{
    width: 100%;
    text-align: justify;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height:1.2;
}

.home-content h3{
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
}


.home-content p{
    position: relative;
    font-size: 16px;
    margin: 30px 0 40px;
    line-height:150%;
    max-width: 80%;
}
/*Button Hero*/

.home-content .btn-box{
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap:60px;
    text-align: center;
}

.btn-box a{
    max-width: 20%;
    padding: 15px 10px;
    flex: 50%;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border:  2px solid var(--main-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: var(--main-color);
}

.btn-box a:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box a:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box a:nth-child(2):before{
    background: var(--main-color);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

/*PICT HERO*/

.img-column img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:120%;
    animation: float 5s ease-in-out infinite;
}


/*Icon Social media*/

.home-sci{
    bottom: 20px;
    width: 170px;
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: left;
    gap: 30px;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    fill: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;  
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:hover{
    fill: var(--bg-color);
}


/*Shadow image hero*/
.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

.sci {
	padding: 0 15px;
}

/*Education*/
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    margin: 0 5%;
}

.about-img{
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}
.about-img img{
    width: 60%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.border-line{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 30px;
    height: 30px;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 13px;
    margin-bottom: 2rem;
    overflow: hidden;
}

/*animasi education*/
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}
/*End animasi education*/

.education-content .content .year {
    font-size: 16px;
    color: var(--main-color);
    font-weight:500;
}

.education-content .content .year svg{
    padding-right: .5rem;
    padding-top: .7rem;
    width: 30px;
    height: 30px;
    fill: var(--main-color);
}

.heading{
    font-size: 30px;
    font-weight:900;
    letter-spacing: 5px;
    color: #19425d;
    text-align: center;
}

.sub-title{
    font-size: 35px;
    margin: 0 0 1.5rem 2rem;
    letter-spacing: 2px;
}

.education-content .content h3{
    font-size: 20px;
    margin: 10px auto;
    font-weight: bold;
}

.education-content .content p{
    font-size: 15px;
    line-height: 24px;
}


/* Skills section */
.skills{
    padding-bottom: 5rem;
    margin: 0 5%;
}

.skills .heading{
    margin: 5% auto;
}

.skills-column .sub-title{
    
    margin: 5rem auto 2rem;
}

.box-content .content{
    position: relative;
    padding: 20px;
    border: .2rem solid var(--main-color);
    border-radius: 13px;
    margin-bottom: 2rem;
    overflow: hidden;
}

/*animasi education*/
.box-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.box-content .content:hover::before{
    width: 100%;
}
/*End animasi education*/


@media (min-width:768px){
    .content .skills-content{
    display:grid;
    grid-gap:16px;
    grid-template-columns:1fr 1fr 1fr 1fr;    
    padding:10px ;
    }
}

@media (min-width:768px){
    .content .skills-content-profesional{
    display:grid;
    grid-gap:16px;
    grid-template-columns:1fr 1fr 1fr ;    
    padding:10px ;
    }
}


.skills-col{
        background:var(--main-color);
        padding:10px ;
        height: 70%;
        display: flex;
        justify-content:left;
        align-items: center;
        border-radius: .6em;
        margin-bottom: 30px;
    }

    .skills-col-dropdown .judul{
        background:var(--main-color);
        padding:20px ;
        height: 70%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-radius: .6em;
        margin-bottom: 30px;
        color: var(--bg-color);
        font-weight: bold;
        cursor: pointer;
    }

    .dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
    }

    .dropdown svg{
        margin: 0 10px;
    }

    .skills-col img{
        width: 25px;
        height: 25px;
    }

    .skills-col p{
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        color: #081b29;
    }

    .skills-col-dropdown li{
        list-style: none;
        background-color: var(--main-color);
        border-radius: .6em;
        padding:5px;
    }

    li .content-dropdown img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90%;
    }

    .skills-col-dropdown li label span{
        transform: rotate(90deg);
        font-size: 20px;
        margin-left:10px;
    }


/*Media screen max-width 980px*/
@media screen and (max-width: 980px) {

    /*Navbar*/
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }

    .header{
        height: 80px;
        background-color: var(--main-color);
    }

    .logo{
        position: absolute;
        z-index: 2;
        left: 20px; 
        top: 20px;
        line-height: 50px;
    }
    
    .wrapper{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--bg-color);
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }
    
      #active:checked ~ .wrapper{
      clip-path: circle(75%);

    }

    .navbar{
        display: flex;
        flex-direction: column;
        padding: 180px 0;
        text-align: center;
        line-height: 50px;
    }
    
    .menu-btn{
        display: block;
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        padding: 4px 0px;
       border:2px solid var(--main-color);
       transition: all 0.3s ease-in-out;
    }
    
      #active:checked ~ .menu-btn{
        color: #fff;
    }
    
    #active:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    input[type="checkbox"]{
        display: none;
    }

    @keyframes rotate {
        0%{
          filter: hue-rotate(0deg);
        }
        100%{
          filter: hue-rotate(360deg);
        }
    }
      
    /*Main Content*/
    
    .grid{
        max-width: 100%;
    }

    .columns .column {
		margin-bottom: 10px;
        flex-basis: 40%;
        margin-top: 40px;
	}

    .columns .column:nth-last-child(2) {
        margin-right: 0;
    } 

    .home-content h1{
        text-align: center;
        padding-bottom: 5px;
        font-size: 41px;
    }

    .home-content h3{
        text-align: center;
        font-size: 24px;
    }

    .home-content p{
        max-width: 100%;
        font-size: 15px;
    }

    .img-column img{  
        width:80%;
        animation: float 5s ease-in-out infinite;
    }
    
    .column .img-column{
        
        padding: 0px auto;
    }

    .home-imgHover:hover{
        background: none;
    }

    .home-content.btn-box{
        flex-direction: column;
    }    

    .btn-box a{
        max-width: 100%;
        padding: 15px 10px;
        flex: 50%;
    }

    /*sci*/
    .home-sci{
        margin-top: 40px;
        width: 70%;
    }

    .home-sci a{
        border: 2px solid var(--main-color);
    }


    /* skills section max-width*/
    .skills .heading{
        margin-bottom: 20%;
    }

    .skills .sub-title{
        font-size: 26px;
        text-align: center;
    }
   
}


@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 100px 0 5px 0;
	}
}

/*animasi Mengambang*/
@keyframes float{
    50%{
        transform: translateY(60px);
    }
}

  
 